@model MystiqueMC.DAL.CatTipoPagos

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Editar Tipo de Pago <b>@Model.descripcion</b></h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "TipoPagos", FormMethod.Post, new { id = "form-create", data_parsley_validate = "true" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.idCatTipoPago)
                            @Html.HiddenFor(model => model.comercioId)
                            @Html.HiddenFor(model => model.cajaBase)

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.descripcion, "Descripción", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control",
                                        data_parsley_maxlength = "300",
                                        data_parsley_required = "true",
                                        data_inputmask_regex = "[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9. ]{0,300}",
                                        data_parsley_errors_container = "#descripcion-error"
                                        }})
                                        <div class="row">
                                            <span style="color:red" for="descripcion" id="descripcion-error"></span>
                                        </div>
                                    </div>
                                    <div class="funkyradio">
                                        <div class="col-md-4 funkyradio-primary">
                                            @Html.EditorFor(model => model.activo)
                                            <label class="check-box" for="activo">Estatus</label>
                                            @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/parsley/parsley.min.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.es.js"></script>
    <script src="~/Scripts/plugins/parsley/validators/comparison.js"></script>
}