@model ForgotPasswordViewModel
@using MystiqueMC.Models
@using MystiqueMC.Helpers;
@using MystiqueMC.Controllers;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mystique | Recuperar contraseña</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/app.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="custom-login middle-box text-center loginscreen  animated fadeInDown" style="margin-top:-8%">
        <div class="row">
            @using (Html.BeginForm("ForgotPassword", "Autentificacion", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", data_parsley_validate = "true" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="div-Logo">
                        <img src="~/Content/img/logo_mystique.png" height="250" alt="Mystique" class="Login-logo" style="margin-bottom:18pt">
                    </div>


                </div>
                <div class="form-group">
                    <div class="col-md-12 input-group">
                        <div class="row">
                            <div class="col-lg-12">
                                @{
                                    var alerts = TempData.ContainsKey(Alert.TempDataKey) ? (List<Alert>)TempData[Alert.TempDataKey] : new List<Alert>();
                                    foreach (var alert in alerts)
                                    {
                                        if (alert.Visible)
                                        {
                                            <div class="alert alert-@alert.AlertStyle" role="alert" id="alert">
                                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                @alert.Message
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user-circle"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new
                                       {
                                           @class = "form-control",
                                           data_parsley_type = "email",
                                           data_parsley_maxlength = "100",
                                           data_parsley_required = "true",
                                           data_parsley_errors_container = "#email-error",
                                           data_parsley_remote = Url.Action("ValidarEmail"),
                                           data_parsley_remote_message = "Este email no se encuentra registrado"
                                       })
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <span style="color:red" for="Email" id="email-error"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Recuperar contraseña" class="btn btn-info btn-block" />
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("Login")" class="btn btn-white m-t-md btn-block"> Regresar </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.min.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.es.js"></script>
    <script type="text/javascript">
        $("#alert").fadeTo(5000, 500).slideUp(500, function () {
            $("#alert").slideUp(500)
        });
    </script>
    }
</body>
</html>

