@using MystiqueMC.Helpers
@using MystiqueMC.Helpers.Permissions
@{

    string rol = Session.ObtenerRol();
    PermissionsDelegate permissionsDelegate = new PermissionsDelegate(Session.ObtenerPermisos());
}
@model IEnumerable<MystiqueMC.DAL.CatConceptosGastos>


@{
    ViewBag.Title = "Index";

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Conceptos de Gasto</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <a class="btn btn-link col-lg-7" href="@Url.Action("Create")" style="float:right;width:7.333333%">
                    <i class="fas fa-plus-square m-r-xs " style="color:#616161; font-size:12pt"></i>
                    <b>Agregar</b>
                </a>

                <table id="ContentTable" class="table table-striped tabla-catalogos display responsive no-wrap" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Descripción
                            </th>

                            <th>
                                Rubro
                            </th>
                            <th style="text-align:center">
                                Activo
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatRubros.descripcion)
                                </td>
                                <td style="text-align:center">
                                    @if (item.activo == true)
                                    {
                                        <img src="~/Content/img/check.png" style="height:24px" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/minus.png" style="height:24px" />
                                    }
                                </td>

                                <td class="text-right">
                                    <a href="@Url.Action("Edit", new {id = item.idCatConceptoGasto})" class="href-gray m-r-sm" data-tippy="Editar"><img src="~/Content/img/editar.png" /></a>
                                    <a href="@Url.Action("Delete", new {id = item.idCatConceptoGasto})" class="href-gray m-r-sm" data-tippy="Desactivar"><img src="~/Content/img/borrar.png" /></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><br />
            <div class="form-group">
                <div class="col-md-10" style="padding:0pt">
                    @Html.ActionLink("Regresar", "Menu", "Egresos", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js "></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>

    @Scripts.Render("~/plugins/dataTables")

    <script>
        $(document).ready(function () {

            $('#ContentTable').dataTable({
                "dom": 'T<"clear">lrtip',
                "tableTools": {
                    "sSwfPath": "../scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                },
                "language": {
                    "search": "Buscar ",
                    "lengthMenu": "Elementos por página:  _MENU_",
                    "info": "Mostrando _START_ - _END_ de _TOTAL_ elementos",
                    "emptyTable": "No hay información",
                    "paginate": {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });

    </script>
}

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    <style>
        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            /* margin-left: 73px; */
            margin-left: 9px;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: left;
        }
    </style>

}


