@using MystiqueMC.Helpers
@using MystiqueMC.Helpers.Permissions
@{
    string rol = Session.ObtenerRol();
    PermissionsDelegate permissionsDelegate = new PermissionsDelegate(Session.ObtenerPermisos());
}
@model MystiqueMC.DAL.AnexoDoctor
@{
    ViewBag.Title = "Anexo Doctor";
}
<br />
<div id="mydiv">
    @using (Html.BeginForm("Edit", "AnexoDoctor", FormMethod.Post, new { id = "DatosDoctor", enctype = "multipart/form-data", data_parsley_validate = "true", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="background-color:transparent;border-color:transparent">
                        <div class="row">
                            <input hidden id="idComercio" name="idComercio" value="@ViewBag.idComercio" />
                            <input type="hidden" id="url-imagenes-anexoDoctor" value="@Url.Action("SubirImagenDoctor","AnexoDoctor")" />
                            @*//Datos Doctor*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        @Html.Label("Cédula", htmlAttributes: new { @class = "control-label col-md-6", @style = "margin-left:-10pt" })
                                        <input name="cedula" id="cedula" type="text" class="form-control" data-parsley-maxlength="10" disabled="disabled" data-inputmask-regex="[0-9]{0,10}" data-parsley-required
                                               data-parsley-errors-container="#cedula-error">
                                        <div class="row">
                                            <span style="color:red" for="cedula" id="cedula-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-6", @style = "margin-left:-10pt" })
                                        <input name="usuario" id="usuario" type="text" class="form-control" data-parsley-maxlength="100" disabled="disabled" data-parsley-errors-container="#usuario-error" data-parsley-required>
                                        <div class="row">
                                            <span style="color:red" for="usuario" id="usuario-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-6", @style = "margin-left:-10pt" })
                                        <input name="contrasena" type="password" id="contrasena" class="form-control" maxlength="50" data-parsley-maxlength="50" disabled="disabled" data-parsley-required autocomplete="new-password"
                                               data-parsley-errors-container="#contrasena-error">
                                        <div class="row">
                                            <span style="color:red" for="contrasena" id="contrasena-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Label("Especialidad", htmlAttributes: new { @class = "control-label col-md-6", @style = "margin-left:-10pt" })
                                        @Html.DropDownList("doctorEspecialidad", null, "Seleccione", htmlAttributes: new { @class = "form-control", data_parsley_required = "", data_parsley_errors_container = "#Especialidad-error", disabled = "disabled" })
                                        <div class="row">
                                            <span style="color:red" for="doctorEspecialidad" id="Especialidad-error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        @*//Descripcion*@
                                        @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-6", @style = "margin-left:-10pt" })
                                        <textarea class="form-control" rows="5" id="descripcion" name="descripcion" data-parsley-required disabled data-parsley-maxlength="300" maxlength="300" data-parsley-errors-container="#descripcion-error"></textarea>
                                        <div class="row">
                                            <span style="color:red" for="descripcion" id="descripcion-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        @*//Descripcion en ingles*@
                                        @Html.Label("Descripción en ingles", htmlAttributes: new { @class = "control -label col-md-6", @style = "margin-left:-10pt" })
                                        <textarea class="form-control" rows="5" id="descripcionIngles" name="descripcionIngles" data-parsley-required disabled data-parsley-maxlength="300" data-parsley-errors-container="#descripcionIngles-error" maxlength="300"></textarea>
                                        <div class="row">
                                            <span style="color:red" for="descripcionIngles" id="descripcionIngles-error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div id="drag-drop-area"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" id="EditarButton_datosDoctor" style="width:90pt" class="btn btn-warning">Editar</button>
                                        <button type="submit" id="guardarbutton_datosDoctor" style="width:90pt;margin-left:8pt" class="btn btn-primary" disabled>Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div><br />
<div class="row"><div class="col-md-12"><a href="@Url.Action("IndexEmpresa", "comercios", new { idEmpresa = ViewBag.idEmpresa })" class="btn btn-white">Regresar</a></div></div>
@section Scripts{
    <script src="https://transloadit.edgly.net/releases/uppy/v0.29.0/dist/uppy.min.js"></script>
    <script src="~/Scripts/Plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Scripts/plugins/summernote/summernote.min.js"></script>
    <script src="~/Scripts/plugins/summernote/summernote-es-ES.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.min.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.es.js"></script>
    <script src="~/Scripts/app/Comercios/AnexoDoctor.js"></script>
}
@section Styles{
    <link href="~/Content/Plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link href="https://transloadit.edgly.net/releases/uppy/v0.29.0/dist/uppy.min.css" rel="stylesheet">
    <style>
        .tippy-tooltip {
            font-size: 1.2rem;
            padding: 0.3rem 0.6rem;
            text-align: left;
        }
        [hidden] {
            display: none !important;
        }
    </style>
}
