@using MystiqueMC.Helpers
@using MystiqueMC.Helpers.Permissions
@{
    string rol = Session.ObtenerRol();
    PermissionsDelegate permissionsDelegate = new PermissionsDelegate(Session.ObtenerPermisos());
    string order = ViewBag.SearchOrden as string;
}
@model IEnumerable<MystiqueMC.DAL.ConteoFisicoInsumos>

@{
    ViewBag.Title = "Detalles";

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Agrupador <b>@ViewBag.NombreAgrupador</b></h2>
    </div>
</div><br />
<div>
    @using (Html.BeginForm())
    {
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon" style="color:#000; background-color:transparent; border-color:transparent"><b>Estatus</b></span>
                <select class="form-control input-sm" id="sel1" aria-describedby="basic-addon1" name="SearchOrden">
                    <option @(order == "true" ? "selected=\"selected\"" : "") value="true">Activo</option>
                    <option @(order == "false" ? "selected=\"selected\"" : "") value="false">Inactivo</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <button style="width:3%" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
    }
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <a class="btn btn-link col-lg-7" href="@Url.Action("Create","ConteoFisicoInsumos", new { id =  ViewBag.IdAgrupador })" style="float:right;width:7.333333%">
                        <i class="fas fa-plus-square m-r-xs" style="color:#616161; font-size:12pt"></i>
                        <b>Agregar</b>
                    </a>
                    <table class="table" style="padding: 0px">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Nombre Insumo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="padding: 6px 15px 20px 20px;">
                                    <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Insumos.nombre)</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Edit","ConteoFisicoInsumos", new {id = item.idConteoFisicoInsumo, idAgrupador = ViewBag.IdAgrupador })" class="href-gray" data-tippy="Editar"><img src="~/Content/img/editar.png" /></a>
                                        @if (item.activo)
                                        {
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-inactivar" data-id="@item.idConteoFisicoInsumo" data-idagrupador="@item.conteoFisicoAgrupadorInsumosId" data-descripcion="@item.descripcion">
                                                <img src="~/Content/Images/on.png" style="width: 30px;">
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-activar" data-id="@item.idConteoFisicoInsumo" data-idagrupador="@item.conteoFisicoAgrupadorInsumosId" data-descripcion="@item.descripcion">
                                                <img src="~/Content/Images/off.png" style="width: 30px;">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/ConteoFisicoAgrupadorInsumos/ModalActivo.cshtml")
@Html.Partial("~/Views/ConteoFisicoAgrupadorInsumos/ModalInactivar.cshtml")
@section Scripts{
    <script src="~/Scripts/app/AgrupadorInsumo/Details.js"></script>
}
@section styles{
    <style>
        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            /* margin-left: 73px; */
            margin-left: 9px;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: left;
        }

        .table-responsive {
            min-height: .01%;
            overflow-x: initial;
        }
    </style>
}






