@using  MystiqueMC.Helpers
@using  MystiqueMC.Helpers.Permissions
@{
    /**/

    string rol = Session.ObtenerRol();
    PermissionsDelegate permissionsDelegate = new PermissionsDelegate(Session.ObtenerPermisos());
}
@model MystiqueMC.DAL.comercios


@{
    ViewBag.Title = "Detalles";

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Listado", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles comercios</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.nombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreComercial)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.paginaWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paginaWeb)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.logoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logoUrl)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>






        <dt>
            @Html.DisplayNameFor(model => model.catComercioGiros.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catComercioGiros.descripcion)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.catTipoComercios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catTipoComercios.nombre)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.empresas.guidEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresas.guidEmpresa)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.usuarios.aspNetUsersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.aspNetUsersId)
        </dd>






    </dl>


	
    @if (permissionsDelegate.HasPermissionForAction(rol, HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), "Edit"))
        {  
			@Html.ActionLink("Editar", "Edit", new { id = Model.idComercio }, new { @class = "btn btn-primary"})
	    }
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white"})


                </div>
            </div>
        </div>
    </div>
 </div>















