@using MystiqueMC.Helpers
@using MystiqueMC.Helpers.Permissions
@{
    /**/

    string rol = Session.ObtenerRol();
    string HOSTNAME_IMAGENES = ViewBag.HOSTNAME_IMAGENES;
    PermissionsDelegate permissionsDelegate = new PermissionsDelegate(Session.ObtenerPermisos());
}

@model IEnumerable<MystiqueMC.DAL.comercios>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3">
        <h2>Comercios</h2>
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <a class="btn btn-link" href="@Url.Action("Create","comercios")">
                    <i class="fa fa-plus-square" style="color:#616161; font-size:12pt"></i>
                    <b> Agregar Comercio </b>
                </a>
            </div>
        </div>
    }
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            @item.nombreComercial
                        </h5>
                        <div class="ibox-tools">
                            <a href="@Url.Action("Edit","comercios",new { id = item.idComercio })" class="btn btn-link"><img src="~/Content/img/editar.png" height="20" /></a>
                            @*<button class="btn btn-link" data-toggle="modal" data-target="#modal-eliminar" data-id="@item.idComercio" data-nombre="@item.nombreComercial"><img src="~/Content/img/borrar.png" height="20" /></button>*@
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <div class="form-group col-lg-5">
                                    <label for="direccion"> Dirección </label><br />
                                    <span for="direccion" class="font-italic" id="direccion">@item.direccion</span>
                                </div>
                                <br />
                                <div class="form-group col-lg-5">
                                    <label for=""> Teléfono </label><br />
                                    <span for="telefono" id="telefono">@item.telefono</span>
                                </div>
                                <br />
                                <div class="form-group col-lg-5">
                                    <label for=""> Correo </label><br />
                                    <span for="correo" id="correo">@item.correo</span>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label for=""> Tipo Comercio </label><br />
                                    <span for="correo" id="correo">@item.catTipoComercios.descripcion</span>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for=""> Giro Comercio </label><br />
                                    <span for="correo" id="correo">@item.catComercioGiros.descripcion</span>
                                </div>
                                <br />
                                <div class="col-sm-12">
                                    <a href="@Url.Action("Index","beneficios",new { SearchComercio = item.idComercio})" style="width:145pt" class="btn btn-primary btn-sm">Ver Promociones y Descuentos</a>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-10">
                                    <br />
                                    <label><i aria-hidden="true"></i>Imagen &nbsp;</label><span><br /><img src="@HOSTNAME_IMAGENES@item.logoUrl" height="170"></span>
                                </div><br />
                            </div>
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("DeleteModal")

@section Scripts{
    <script src="~/Scripts/app/Comercios/Index.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    <script>
        $(document).ready(function () {

            $('.table').dataTable({
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "../scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                },
                "language": {
                    "search": "Buscar ",
                    "lengthMenu": "Elementos por página:  _MENU_",
                    "info": "Mostrando _START_ - _END_ de _TOTAL_ elementos",
                    "emptyTable": "No hay información",
                    "paginate": {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
}
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

