@using MystiqueMC.Helpers
@using MystiqueMC.Helpers.Permissions
@using MystiqueMC.Models.Graficas;
@model GraficaLines[]
@{
    string rol = Session.ObtenerRol();
    PermissionsDelegate permissionsDelegate = new PermissionsDelegate(Session.ObtenerPermisos());
    var labels = ViewBag.labelsG;
    var colors = ViewBag.colorsG;
}

@{
    ViewBag.Title = "Reporte Ventas Gráficas";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Reporte Ventas Gráficas</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="background-color:transparent;border-width:0px; margin-top:-15px">
                    <div class="row">
                        @using (Html.BeginForm("ReporteVentasGraficas", "Reportes", FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = true }))
                        {
                            @*<div class="form-group col-md-3" style="margin-left:-20pt">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="color: #6C6A67; background-color:transparent; border-color:transparent;"><b>Sucursal:</b></span>

                                        @Html.DropDownList("Sucursales", null, "SELECCIONE", new { @class = "form-control input-sm", data_parsley_required = "true", data_parsley_errors_container = "#error-Nombre" })
                                    </div>
                                    @Html.ValidationMessage("", new { @class = "text-danger", id = "error-Nombre" })
                                </div>*@
                            <div class="form-group col-md-4 col-sm-6 col-lg-3" style="margin-left:-20pt">
                                <div class="input-group">
                                    <span class="input-group-addon" style="color: #6C6A67; background-color:transparent; border-color:transparent;"><b>Venta por:</b></span>

                                    @Html.DropDownList("ventaPor", null, "SELECCIONE", new { @class = "form-control input-sm", data_parsley_required = "true", data_parsley_errors_container = "#error-Ventas" })
                                </div>
                                <div class="input-group">
                                    @Html.ValidationMessage("", new { @class = "text-danger", id = "error-Ventas" })
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" style="margin-left:-20pt">
                                <div class="input-group input-daterange">
                                    <span class="input-group-addon" style="color: #6C6A67; background-color:transparent; border-color:transparent;"><b>Fecha:</b></span>
                                    <input autocomplete="off" type="text" class="form-control input-sm datepicker" id="fecha" name="fecha1" value="@ViewBag.fechaInicio" data-date-orientation="bottom"
                                           data-provide="datepicker" data-date-language="es" data-parsley-required data-date-autoclose="true" data-date-format="dd/mm/yyyy" data-date-keep-empty-values="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <span class="input-group-addon" style="color:#6C6A67; background-color:transparent; border-color:transparent;"><b>A</b></span>
                                    <input autocomplete="off" type="text" class="form-control input-sm datepicker" id="fecha2" name="fecha2" value="@ViewBag.fechaFin" data-date-orientation="bottom"
                                           data-provide="datepicker" data-date-language="es" data-parsley-required data-date-autoclose="true" data-date-format="dd/mm/yyyy" data-date-keep-empty-values="true">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                                @*<div class="input-group input-daterange">
                                        <span class="input-group-addon" style="color: #6C6A67; background-color:transparent; border-color:transparent;"><b>Fecha:</b></span>
                                        <input autocomplete="off" type="text" class="form-control input-sm" id="fecha" name="fecha1" value="@ViewBag.fechaInicio">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        <span class="input-group-addon" style="color:#6C6A67; background-color:transparent; border-color:transparent;"><b>A</b></span>
                                        <input autocomplete="off" type="text" class="form-control input-sm" id="fecha2" name="fecha2" value="@ViewBag.fechaFin">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>*@
                            </div>
                            <div class="col-md-2 col-lg-1 col-sm-2" style="margin-left:-13px">
                                <span class="input-group-btn">
                                    <button style="width:100%" class="btn btn-primary btn-sm" type="submit">Buscar</button>
                                </span>
                            </div>
                        }
                        <div class="col-md-2 col-lg-1 col-sm-2 pull-right hide">
                            <button id="ButtonExcel" style="width:100%" class="btn btn-primary" onclick="$('#realExcel').click()">
                                Excel &nbsp;

                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ibox-content">
                    <h2 class="hide" id="title-grafica-1">Comportamiento de ventas</h2>
                    <div id="chart-container-div" class="chart-container wrapper" style="height:350pt">
                        <canvas id="chart-ventas" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div id="chart-data-content" class="chart-datasource">
                        @foreach (var item in Model)
                        {
                            <table id="datasource-chart" class="table table-responsive hide" title="@item.Titulo">
                                <tbody>
                                    @foreach (var data in item.Data)
                                    {
                                        <tr>
                                            <td>@data.Etiqueta</td>
                                            <td>@data.Valor</td>
                                            <td>@item.Titulo</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-10" style="padding:0pt">
                        @Html.ActionLink("Regresar", "Index", "Reportes", null, new { @class = "btn btn-white" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script src="~/Scripts/plugins/chart/Chart.bundle.min.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.min.js"></script>
    <script src="~/Scripts/plugins/parsley/parsley.es.js"></script>
    <script src="~/Scripts/plugins/parsley/validators/comparison.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js "></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/plugins/randomColor/randomColor.js"></script>
    <script src="~/Scripts/app/Reportes/VentasGraficas.js"></script>

    <script type="text/javascript">

        function OnScriptsLoad() {

        }
    </script>

    <script>
        $(document).ready(function () {
            window.labels = [];
            window.chartColors = [];
            debugger;
            @foreach (var item in labels)
            {
                @:window.labels.push('@item');
            }
            console.log(window.labels);


            @foreach (var items in colors)
            {
               @:window.chartColors.push('@items');
            }
            console.log(window.chartColors);
            //var dataModel = @ViewBag.data;
            $canvasVentas = $("#chart-ventas");
            $datasourceGrafica1 = $("#datasource-chart");
            $titleVentas = $("#title-grafica-1");

            InitChart($canvasVentas, 'line', $titleVentas.text());

        });


    </script>
}



